<html>
<head>
    <title>Secret</title>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="css/style.min.css">
</head>
<body>

<form method="post">
    <div class="container">
        <input id="login" name="login" class="nocursor {{ errl }}" type="text" placeholder="your name" value="{{ login }}" {{ aufl }}>
        <input id="pass" name="pass" class="nocursor {{ errp }}" type="password" placeholder="and passphrase" value="{{ pass }}" {{ aufr }}>
        <input id="submit" type="submit" value="send">
    </div>
</form>

<script type="text/javascript" src="js/bundle.js"></script>

</body>
</html>
